*.csv filter=lfs diff=lfs merge=lfs -text
df_full_final_X.csv filter=lfs diff=lfs merge=lfs -text
C:/Users/simax/Desktop/projets/projet_2/database_imdb/df_full_final_X.csv filter=lfs diff=lfs merge=lfs -text
